red_extra_light1 = #f54e54
red_extra_light2 = #e23b41

brown_light = #9e4b39

red_light = #f3272f
red_regular = #dc141b
red_dark = #a70006

purple_regular = #82002e
purple_dark = #6d0027

lilac_light = #c71fa6
lilac_regular = #b72199
lilac_dark = #a7188a

yellow_light = #ffdb33
yellow_regular = #fad62c
yellow_dark = #f3a517

white = #ffffff
green = #9cd649

gray_light = #bcbcbc
gray_regular = #595959

orange_light = #ff7d36

// Color background-body
background = #f4292f


// Color social buttons
$fb_color = #405a9d
$twitter_color = #56d0f6
$gplus_color = #cc000d


font_default = "Helvetica Neue", Helvetica, Arial, sans-serif
