@media (max-width: 991px)
	.profile
		&__avatar
			left 40%
		&__social
			float none !important
			padding 133px 0px 0px 40%
			margin 0 auto
		&__card
			padding-left 0
			text-align center
		&__views
			position absolute
			top -60px
			right 0
		&::after
			top 500px

@media (max-width: 768px)
	.profile
		&__avatar
			left 10%
		&__social
			float none
			display block
			margin 0 auto
			padding-left 0
			width 165px
			.list-inline
				margin-left 0
	
		&__body
			&--tab
				margin-top 70px