@media screen and (max-width: 1199px)
	.header
		min-height 70px
	.header .navbar-toggle
		display block
		background-color white
		padding 15px 12px
		.icon-bar
			background-color red_regular
			width 28px
			height 4px
	.menu__list
		float none
		margin-right 0
	.navbar-collapse
		padding-right 0
		padding-left 0
	.navbar-nav
		margin 0
	.menu__list .menu__item
		margin-left 0
		
	.question-btn
		top inherit

@media screen and (min-width: 992px) and (max-width: 1200px)
	.topbar__options
		float left !important
		padding-left 0
	.navbar-header
		width 100%
		.logo
			float none
			margin-left auto
			margin-right auto
			text-align center
			display block
	.menu__list
		margin-right 0
		float none
	
		
	// .navbar-collapse
	// 	overflow-x visible !important
	// 	&.collapse
	// 		display none !important
	// 	&.in
	// 		overflow-y auto !important
	// .collapse
	// 	&.in
	// 		display block !important
	
		
@media screen and (max-width: 991px)
	.header
		position relative
		min-height 70px
	.header 
		.navbar-toggle
			display block
			padding 15px 12px
			margin-right 0
			margin-left 0
			float left
			.icon-bar
				background-color white
				width 30px
				height 4px
			.icon-bar+.icon-bar
				margin-top 5px
	
	.logo
		background-size 100% auto
		width 90px
		height 61px
		margin-top 5px
		float none
		margin-left auto
		margin-right auto
	.menu__list
		float none
		margin-right 0
		border-top 1px solid red_light
	.navbar-collapse
		padding-right 0
		padding-left 0
	.navbar-nav
		margin 0
	.menu__list
		.menu__item	
			margin-left 0
			float none
			display block
			.menu__link
				border-radius(0)
				
		
	.navbar-collapse
		&.collapse
			display none !important
			&.in
				display block !important
	.navbar-header .collapse, .navbar-toggle
		display block !important
	.navbar-header
		float none
			
// Partners
@media screen and (max-width: 768px)
	.summary
		text-align center
		&__title
			padding 0
		&__text
			padding 0
	.partners__list
		padding 0
	.steps
		margin-top 70px
		&__item
			&__title
				margin-bottom 10px
			p
				padding 0 45px
	.banner
		&::after
			content ''
			background none
		
@media screen and (min-width: 768px) and (max-width: 992px)
	.partners__list
		padding 0
	.steps__item
		p
			padding 0 10px