.form-group
	&.has-error
		.help-block
			margin-top 5px
			margin-bottom 7px
			color yellow_regular
			font-size 13px
			position relative
			padding-left 15px
			overflow hidden
			&::before
				content '\f069'
				font-family 'FontAwesome'
				position absolute
				left 0
